* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: sans-serif;
}

header,
section,
footer {
    margin: 50px 50px auto 50px;
}

nav {
    background-color:#3e7786;
    min-height     : 70px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 34px;
    width          : 100%;
    top            : 0;
    position       : fixed;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;

}

.logo {
    width:80px;
    height:80px;
}

.nav-menu {
    display    : flex;
    align-items: center;
    gap        : 30px;
    width:100%;
}

.nav-link {
    color         : white;
    font-size     : 14px;
    padding       : 7px 30px;
    border-radius : 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition    : 0.3s;
}

.nav-link:hover {
    background : white;
    color      : white;
    font-weight: bolder;
    transition : .5s;
    background: rgba(0, 0, 0, .15);
    width:100%;
}

.hamburger {
    display: none;
    cursor : pointer;
}

.bar {
    display         : block;
    width           : 28px;
    height          : 3px;
    border-radius   : 2px;
    margin          : 5px auto;
    background-color: #fff;
    transition      : all 0.3s ease-in-out;
}


header{
    background-image: url("../img/camera.jpg");    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align    : center;
    height    : 100vh;
    padding:50px;
}


header h1 {
    margin-top: 100px;
    color     : white;
    width     : 40%;
    height:50px;
    padding: 10px;
    background-color: #3e7786;
    border-radius: 6px;
    margin-bottom: 20px;

}

header p {
    margin-top:5vh;
    color         : white;
    width         : 90%;
    text-align    : justify;
    font-size     : 25px;
    font-family   : sans-serif;
    letter-spacing: 1px;
    line-height   : 1.25;
}

header a:link{
    justify-content: center;
    display        : flex;
    align-items    : center;
    width          : 150px;
    height         : 35px;
    margin-top:20px;
    margin-bottom  : 40px;
    border-radius  : 13px;
    text-decoration: none;
    font-size      : 16px;
    color          : #000000;
    font-weight    : bolder;
    background     : #cfcfcf;
}
header a:hover {
    background : white;
    color      : white;
    font-weight: bolder;
    border: 3px solid #3e7786;
    transition : .5s;
    background: rgba(0, 0, 0, .2);
    width:20%;
}


#sobre {
    width:100%;
    background-color:#fffff0;  
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align    : center;
    height    : 100vh;
    padding:50px;
}

h2 {
    margin-top: 100px;
    color     : white;
    width     : 40%;
    height:50px;
    padding: 10px;
    background-color: #3e7786;
    border-radius: 6px;
    margin-bottom: 20px;
}

#sobre p {
    margin-top    : 30px;
    color         : #000;
    text-align    : justify;
    font-family   : sans-serif;
    width         : 90%;
    font-size     : 25px;
    letter-spacing: 1px;
    line-height   : 1.25;
}
a{
    color:#000;
}

#sobre a:link{
    padding: 8px;
    justify-content: center;
    display        : flex;
    align-items    : center;
    width          : 150px;
    margin-top:20px;
    margin-bottom  : 40px;
    border-radius  : 13px;
    text-decoration: none;
    font-size      : 16px;
    color          : #000000;
    font-weight    : bolder;
    background     : #c0c0c0;
}
#sobre a:hover {
    padding: 5px;
    background : white;
    color      : #000;
    font-weight: bolder;
    border: 3px solid #3e7786;
    transition : .5s;
    background: rgba(0, 0, 0, .2);
    width:20%;
}

#servicos {
    margin:0;
    padding-left:20px;
    padding-right: 20px;
    width          : 100%;
    height     : 100vh;
    background     : #dedede;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    text-align    : center;
}
#servicos h2{
    margin-top: -50px;
    margin-bottom: 150px;
}

.content-servicos {
    margin-top           : 25px;
    padding-bottom       : 50px;
    display              : flex;
    grid-template-columns: repeat(2, 1fr);
    gap                  : 50px;
}


#fotos {
    background-color: #fffff0;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0px;
    padding        : 0px;
    width          : 100%;
}

#fotos h2 {
    text-align: center;
    margin-top: 100px;
    color     : white;
    width     : 40%;
    height:50px;
    padding: 10px;
    background-color: #3e7786;
    border-radius: 6px;
    margin-bottom: 20px;
}

.card-fotos img {
    width        : 400px;
}

.content-cards-fotos {
    padding-bottom       : 50px;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 20px;

}


#contato {
    margin:0;
    background:#dedede;
    text-align     : justify;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 75vh;
    text-align: center;
}
#contato h2{
    margin-top: -150px;
    margin-bottom:50px;
}

#contato p {
    text-transform: uppercase;
    font-size     : 16px;
    font-weight   : bold;
}

#contato div {
    display       : flex;
    flex-direction: row;
    margin-top    : 25px;
}

#telefone {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 20px;
}

#email {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 20px;
}

footer {
    margin         : 0;
    padding        : 0;
    width          : 100%;
    height         : 120px;
    bottom         : 0;
    color          : white;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    background-color: #3e7786;
}

footer a:link{
    justify-content: center;
    display        : flex;
    align-items    : center;
    width          : 150px;
    height         : 35px;
    border-radius  : 13px;
    text-decoration: none;
    font-size      : 16px;
    color          : #000000;
    font-weight    : bolder;
    background     : #c0c0c0;
    margin-bottom: 8px;
}
footer a:hover {
    background : white;
    color      : #000;
    font-weight: bolder;
    border: 3px solid #3e7786;
    transition : .5s;
    background: rgba(0, 0, 0, .2);
    width:20%;
}

@media (max-width: 1090px) {

    .content-cards-fotos {
        display       : flex;
        flex-direction: column;
    }

    #sobre {
        padding-top: 50px;
        min-height : 500px;
    }

    #servicos,
    #fotos {
        padding-top: 70px;
    }

    .content-servicos {
        display       : flex;
        flex-direction: column;
    }

    #fotos img {
        max-width: 350px;
    }

    header a {
        margin-top: 15px;
    }

nav {
        height: 50px;
    }

       .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position      : fixed;
        left          : 100%;
        top           : 60px;
        gap           : 0;
        background    : radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
        text-align    : center;
        flex-direction: column;
        width         : 100%;
        transition    : 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}
    
    header{
        height: 1200px;
        padding: 5%;
    }

    header h1{
        width:100%;
    }

    #sobre{
        height: 600px;
    }
    #sobre a{
        height: 100px;
    }
    h2{
    margin-top:15px;
    }

    #fotos h2{
        margin-top:15px;
    }

    #servicos{
        height: 1000px;
    }

    .logo{
        height: 60px;
        width: 60px;
    }
}
